@import url('./variables.css');
@import url('./eventive-layouts.css');

.eventive-light-mode {
    --background: #ffffff;
    --modal-bg: rgba(255, 255, 255, 0.98);
    --text-color: #1a1a1a;
    --button-bg: #0056b3;
    --button-text: #ffffff;
    --border-color: #e6e6e6;
    --box-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.2);
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.4);
    --border-radius: 8px;
}