/**
 * Eventive Tags Block - Editor Styles
 *
 * @package Eventive
 * @since 1.0.0
 */

.wp-block-eventive-eventive-tags {
	.components-placeholder {
		min-height: 150px;
		padding: 20px;

		.components-placeholder__label {
			margin-bottom: 10px;
			font-weight: 600;
		}

		.components-placeholder__instructions {
			margin-bottom: 15px;
			color: #666;
		}
	}

	.eventive-tags-editor-preview {
		padding: 15px;
		background-color: #f8f8f8;
		border: 1px dashed #ddd;
		border-radius: 4px;
		text-align: center;
		color: #666;
		font-size: 14px;
	}
}

