/**
 * Film Meta Block - Frontend Styles
 */

.wp-block-eventive-film-meta {
	display: inline;

	.eventive-loading,
	.eventive-error {
		font-style: italic;
		opacity: 0.6;
	}

	.eventive-error {
		color: #c00;
	}

	.eventive-film-meta-label {
		font-weight: 600;
	}

	.eventive-film-meta-value {
		// Inherits text styles from parent
	}
}
