/**
 * Eventive Venues Block - Frontend Styles
 *
 * @package Eventive
 * @since 1.0.0
 */

.wp-block-eventive-venues {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	.eventive-venues-container {
		width: 100%;
	}

	.eventive-venue-card {
		display: flex;
		margin: 15px 0;

		> div:first-child {
			flex-grow: 1;

			p {
				margin: 0;
				line-height: 1.6;

				strong {
					font-size: 1.2em;
					color: #333;
					display: block;
					margin-bottom: 8px;
				}

				span {
					display: inline-block;
					margin-bottom: 4px;
				}
			}
		}

		img {
			max-width: 200px;
			height: auto;
			border-radius: 4px;
			margin-left: 20px;
			object-fit: cover;
		}
	}
}

// Responsive design
@media screen and (max-width: 768px) {

	.wp-block-eventive-venues {

		.eventive-venue-card {
			flex-direction: column;

			img {
				margin-left: 0;
				margin-top: 15px;
				max-width: 100%;
			}
		}
	}
}

