name: 'plugin-check'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
    - main
    - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Run plugin check
      uses: wordpress/plugin-check-action@v1
      with:
          exclude-checks: |
            plugin_header_text_domain
            textdomain_mismatch
            trademarked_term
            github_directory
            no_license
            plugin_header_no_license
            WordPress.WP.I18n.TextDomainMismatch
          exclude-files: |
            .gitignore
          exclude-directories: |
            .github
